# dependencies
/node_modules

# IDEs and editors
*.launch
.settings/
/.vscode
.editorconfig
.history

# source
/projects
/modules

# ignore the .ts files
*.ts

# include the .d.ts files
!*.d.ts

# configuration
.env*
.importsortrc
.markdownlintrc
.prettier*
.travis.yml
renovate.json
tsconfig*
jest*
tslint.json
projects/intelligence/config/default.json

# docs
docs
type-docs
CHANGELOG.md
CONTRIBUTING.md
README_EN.md

# misc
/coverage/*
/jest
npm-debug.log*
yarn-debug.log*
yarn-error.log*
assets
yarn.lock

# System Files
.DS_Store
Thumbs.db
.idea
