# dependencies
/node_modules

# ignore the .ts files
*.ts

# include the .d.ts files
!*.d.ts

# configuration
tsconfig.json

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
assets
yarn.lock

# System Files
.DS_Store
Thumbs.db
